<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fatihy.pdictionarypre_alpha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dictionary"
        android:roundIcon="@mipmap/dictionary"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".libraryActivity"
            android:label="Library"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Personal Dictionary Alpha v.0.1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>